:root {
    --color-fondo: black;
    --color-fondo-caja1: goldenrod;
    --color-fondo-caja2: lightgray;
    --color-barras: greenyellow;
    --forma-borde: 40px;
    --forma-letras: 160%;
    --margen-fechas:-40em;
}

body {
    box-sizing: border-box;
  background-color:var(--color-fondo);

}

.container {
    margin: 10px;
    display: flex;
    
    
    height:310vh;
    
    padding-right:1em;
    min-width:250px;

}

img {
    display: block;
    margin: 0px auto;
    width: 70%;
}

heading {
    text-align: center;
}

p,a,h5,h4,h2,span,h1,li {
    font-size: var(--forma-letras);
}
[barra1="barra1"] {
    background-color: var(--color-barras);
}

h3 {
    font-size: var(--forma-letras);
    position: relative;
    top: -30px;
}

.caja1 {
    
    margin: 10px 0px 10px 10px;
    padding: 2% 3%;
    border-radius: var(--forma-borde);
    background-color: var(--color-fondo-caja2);
    flex-basis: 30%;
}

.caja2 {
    text-align:center;
   padding-bottom:-20px;
    margin: 10px -10px 10px 0px;
    background-color: var(--color-fondo-caja1);
    border-radius: var(--forma-borde);
    flex-basis:90%;
}
.cajaFechas{
    
    margin-top:-37em;
    margin-left:64px;
    display:flex;
    flex-direction:column;
    
    width:15em;
    justify-content:flex-start; 
  
}
.cajaFechas2{
    margin-top:-32em;
    margin-left:0px;
    padding-left:0px;
    display:flex;
    flex-direction:column;
    
    width:15em;
    justify-content:flex-start; 
    
}
.cajaFechas3{
    margin-top:-53em;
    margin-left:64px;
    display:flex;
    flex-direction:column;
    
    width:15em;
    justify-content:flex-start; 
    
}
@media only screen and (max-width:800px){
    .container{
    flex-direction:column;
    height:450vh;
    
    
    
    }
}

    
